.simple-content {
    margin: 0px auto;
    max-width: 980px;
}
.simple-content fieldset {
    text-align: left;
}
.simple-content fieldset h3 {
    margin: 0;
}
.simple-content .image,
.simple-content .name,
.simple-content .price,
.simple-content .total {
    float: left; 
}
.simple-content .image{
    float: none;
    overflow: hidden;
    height: 162px;
    margin-bottom: 25px
}
.simple-content .image img{
    position: relative;
    top: -44px;
    width: 127px;
}
.simple-content .name{
    font-size: 18px;
    margin-right: 15px;
    width: 132px;
}
.simple-content .name a{
    font-size: 12px;
    text-transform: uppercase;
}
.cart-product__model{
    padding: 17px 0 0 0;
    font-size: 12px;
}
.cart-product{
    clear: both;
    border-top: 1px solid #e5e5e5;
    padding: 0 0 50px 0;
}
.simple-content .price{
    width: 159px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    font-family: Helvetica;
    float: left;
    margin-top: 6px;
}
.cart-product__line-top{
    padding-bottom: 35px;
}
.simple-content .total{
    width: 180px;
    text-align: right;
    font-size: 12px;
    font-weight: 500;
    line-height: 19px;
    font-family: Helvetica;
    float: right;
    margin-top: 6px;
}
.cart-product .options{
    clear: both;
}
.cart-product__back{
    margin-bottom: 15px;
}
.cart-product__back a{
    font-family: Helvetica;
    color:  #010101;
    font-size: 16px;
    line-height: 19px;
    text-decoration: underline;
    text-align: left;
    text-transform: uppercase;
}
.simple-content .button, #simplecheckout_login .button {
    margin: 0px;
}
.simple-content .buttons {
    margin: 0px 0px 15px 0px;
    border: none;
}
.simple-content .form-control {
    width: 100%;
}
#cz_country_id,
#cz_zone_id,
#cz_city{
    width: 30%;
}
#simplecheckout_login .buttons {
    margin: 0;
    border: none;
    background: inherit !important;
    padding: 0px !important;
}
#cz_city{
    height: 39px;
}
.simplecheckout {
    width:100%;
    position: relative;
}
.simplecheckout:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-three-column {
    float:left;
    margin-right:2%;
    min-width: 200px;
    max-width: 500px;
    width:32%;
}
.simplecheckout-three-column + .simplecheckout-three-column + .simplecheckout-three-column {
    margin-right:0px;
    float: right;
}
@media only screen and (max-width:768px) {
    .simplecheckout-three-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
.simplecheckout-left-column {
    float:left;
    margin-right:10px;
    min-width: 280px;
}
.simplecheckout-right-column {
    float:right;
    min-width: 280px;
    max-width: 900px;
    width:46%;
}
@media only screen and (max-width:1024px) {
    .simplecheckout-left-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
    .simplecheckout-right-column {
        display:block;
        float: none;
        min-width: auto !important;
        max-width: 1900px !important;
        width: 100%;
    }
}
@media only screen and (max-width:1200px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (max-width:768px) {
    .simplecheckout label.col-sm-2 {
        padding-left: 15px;
        padding-right: 15px;
    }
}
.simplecheckout-block {
    clear: both;
}
.simplecheckout-block-content {
    padding: 0;
}
@media only screen and (min-width:1200px) {
    .simplecheckout-block-content>fieldset:nth-of-type(2),
    .simplecheckout-block-content>fieldset:nth-last-of-type(2) {
        width: 49%;
        margin-right: 1%;
        float: left;
        text-align: left;
    }
}
.simplecheckout-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister {
    margin-bottom: 5px;
}
.simpleregister-block-content {
    margin-bottom: 10px;
    padding: 10px;
}
@media only screen and (min-width:1200px) {
    .simpleregister-block-content>fieldset:nth-of-type(2),
    .simpleregister-block-content>fieldset:nth-last-of-type(2) {
        width: 49%;
        margin-right: 1%;
        float: left;
        text-align: left;
    }
}
.simpleregister-block-content:after {
    content:"";
    display:block;
    clear:both;
}
.simpleregister-block-content .simplecheckout-table-form-left {
    width: 50%;
}
@media only screen and (max-width:600px) {
    .simpleregister-block-content .simplecheckout-customer {
        width: 100%;
    }
}
.simpleregister-button-block {
    overflow: auto;
    margin-bottom: 20px;
    padding: 6px;

    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simpleregister-button-right {
    float: right;
    text-align: right;
}
.simpleregister-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-methods-table {
    width: 100%;
}
.simplecheckout-methods-table td.code {
    width: 1px;
}
.simplecheckout-methods-table td.title {
    padding: 5px;
}
.simplecheckout-methods-table td.title label {
    display: block !important;
}
.simplecheckout-methods-table td.quote {
    width: 15%;
    text-align: right;
}
.simplecheckout-methods-description {
    padding: 5px;
    margin: 5px 0px;
}
.simplecheckout-required {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-button-block {
    clear: both;
    overflow: auto;
    margin-bottom: 20px;

    background: none repeat scroll 0 0 #FFFFFF;
    text-align:right;
}
.simplecheckout-button-left {
    float: left;
    text-align: left;
}
.simplecheckout-button {
    display: inline-block;
    padding: 6px 12px 6px 12px;
    -webkit-border-radius: 7px 7px 7px 7px;
    -moz-border-radius: 7px 7px 7px 7px;
    border-radius: 7px 7px 7px 7px;
    background: url('../image/button.png') top left repeat-x;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 12px;
    cursor: pointer;
    -khtml-border-radius: 7px 7px 7px 7px;
}
.simplecheckout-button-left .button {
    margin: 0;
}
@media only screen and (max-width:780px) {
    .simplecheckout-button-left {
        display: none;
    }
}
.simplecheckout-button:hover {
   background: url('../image/button-active.png') repeat-x;
}

#simplecheckout_customer .simplecheckout-block-content {
    text-align: center;
}
#simplecheckout_customer > .simplecheckout-block-content > .form-horizontal>div:first-child{
    margin: 30px 0px 17px 0;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    font-size: 24px;
}
#simplecheckout_customer > .simplecheckout-block-content > .form-horizontal>div:nth-child(8n){
    margin: 30px 0px 17px 0;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    font-size: 24px;
}
.row-customer_firstname{
    
}
#simplecheckout_button_next, #simplecheckout_button_prev, #button-confirm{
    background: #000;
    color:#fff;
    padding: 16px 30px 0 30px;
    border:1px solid #000;
    border-radius: 0;
}
#button-confirm{
    background: #000;
    color:#fff;
    padding: 16px 24px;
    border:1px solid #000;
    border-radius: 0;
    width: 280px;
}
#simplecheckout_button_next:hover, #simplecheckout_button_prev:hover, #button-confirm:hover{
    background: #fff;
    color:#000;
    border:1px solid #000;
}
.row-customer_firstname>label,
.row-customer_lastname>label,
.row-customer_email>label,
.row-customer_telephone>label,
.row-customer_password>label,
.row-customer_confirm_password>label{
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.row-payment_address_city{
    position: relative;
    top: -15px;
}
.country_id_reple,
.region_id_reple{
    position: absolute;
    top: 6px;
    height: 43px;
    text-align: right;
    right: 0;
    width: 100%;
    padding-right: 31px;
}
.row-payment_address_country_id .cart_address_country:first-child,
.row-payment_address_country_id .cart_address_country:nth-child(2n){
    display: none!important;
}
.row-payment_address_country_id .cart_address_country:nth-child(3n){
    position: absolute;
    text-align: right;
    padding: 9px 35px 0 0;
    height: 43px;
}
.row-payment_address_zone_id .cart_address_country:first-child,
.row-payment_address_zone_id .cart_address_country:nth-child(2n){
    display: none!important;
}
.row-payment_address_zone_id .cart_address_country:nth-child(3n){
    position: absolute;
    text-align: right;
    padding: 9px 35px 0 0;
    height: 43px;
}
.row-payment_address_city .cart_address_country:first-child,
.row-payment_address_city .cart_address_country:nth-child(2n){
    display: none!important;
}
.row-payment_address_city .cart_address_country:nth-child(3n){
    position: absolute;
    text-align: right;
    padding: 9px 35px 0 0;
    height: 43px;
    width: 309px;
}
#payment_address_country_id,
#payment_address_zone_id,
#payment_address_city{
    background: #ddd;
}

.row-customer_firstname,
.row-customer_lastname,
.row-customer_email,
.row-customer_telephone,
.row-customer_password,
.row-customer_confirm_password,
.row-payment_address_city,
.row-payment_address_address_1,
.row-payment_address_postcode,
.row-payment_address_country_id,
.row-payment_address_zone_id,
.row-payment_address_country_id,
.row-payment_address_address_id{
    width: 100%;
    margin: 0 0 40px 0;
}
.row-payment_address_zone_id,
.row-payment_address_country_id,
.row-payment_address_address_id{
    height: 43px;
    position: relative
}
.row-payment_address_zone_id select,
.row-payment_address_country_id select,
.row-payment_address_address_id select{
    border-radius: 0;
}
.row-customer_firstname input,
.row-customer_lastname input,
.row-customer_email input,
.row-customer_telephone input,
.row-customer_password input,
.row-customer_confirm_password input,
.row-payment_address_city input,
.row-payment_address_address_1 input,
.row-payment_address_postcode input,
.row-payment_address_country_id input,
.row-payment_address_zone_id select,
.row-payment_address_country_id select,
.row-payment_address_address_id select{
    display: inline-block;
    border:1px solid #666;
    height: 43px
}
.row-customer_firstname label,
.row-customer_lastname label,
.row-customer_email label,
.row-customer_telephone label,
.row-customer_password label,
.row-customer_confirm_password label,
.row-payment_address_city label,
.row-payment_address_address_1 label,
.row-payment_address_postcode label,
.row-payment_address_country_id label,
.row-payment_address_country_id label,
.row-payment_address_address_id label{
    font-size: 12px;
    text-transform: uppercase;
    padding: 9px 0;
}
#country_zone .error{
    position: absolute;
    color: #f99;
}
.row-customer_field22>label,
.row-customer_field23>label,
.row-customer_field24>label,
.row-customer_field25>label{
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 15px;
}
.row-customer_field22,
.row-customer_field23,
.row-customer_field24,
.row-customer_field25{
    width: 309px;
    display: inline-block;
    margin-right: 23px;
    margin-bottom: 30px;
}
#simplecheckout_country label{
    float: left;
    padding: 7px 100px 0 0;
}
#simplecheckout_country select{
    width: 500px;
}
.simplecheckout-login {
    display: inline-block;
}
.simplecheckout-login-left {
    width:50%;
    text-align: left;
}
.simplecheckout-login-right {
    width:50%;
    text-align:left;
}
.simplecheckout-login-right .button {
    float: left;
    margin: 0;
}
.simplecheckout-login-right input {
    max-width: 160px !important;
    text-align:left;
}
#simplecheckout_cart{
    border-bottom: 1px solid #666
}
#simplecheckout_cart .form-control {
    display: inline-block !important;
    min-width: 10px;
    border: 0;
    width: 31px;
    box-shadow: none;
    text-align: center;
    font-size: 12px;
}
.cart-product__plus,
.cart-product__minus{
    padding-top: 11px;
    border: 1px solid #ccc;
    padding: 4px 9px 4px 9px;
    display: inline-block;
    vertical-align: top;
    cursor: pointer;
    margin-top: 7px;
    color: #858585;
    border-radius: 0!important;

}
.cart-product__del{
    cursor: pointer;
    font-size: 12px;
    text-transform: uppercase;
}
.cart-product__del span{
    padding-left: 12px;
}
.cart-product__del::before{
    position: relative;
    top: 4px;
    content: "";
    padding-right: 10px;
    vertical-align: bottom;
    font-size: 20px;
    font-family: 'Icons';
    left: 12px;
}
.simplecheckout-cart {
    margin: 0px !important;
    width: 100%;
    border-collapse: collapse;
}
.simplecheckout-cart-total {
    padding: 7px 20px;
}
.simplecheckout-cart-total:after {
    content:"";
    display:block;
    clear:both;
}
.simplecheckout-summary-info thead{
    border: 0;
    background: none!important;
    font-size: 24px;

}
.simplecheckout-summary-info tbody{
    border: 0;
}
.simplecheckout-summary-info tbody{
    font-size: 12px;
    text-transform: uppercase;
}
.simplecheckout-cart-total .buttons {
    background: inherit !important;
    padding: 0px !important;
}
.simplecheckout-cart-total input {
    margin-right: 0px !important;
    max-width: 100px;
}
.simplecheckout-cart-total span.inputs {
    margin: 0 3px 0 0 !important;
    display: inline-block !important;
}
.simplecheckout-cart-total span.inputs input[type=text]{
    margin: 0px;
}
.simplecheckout-cart-total-value {
    display: inline-block;
    margin: 0px 3px;
    min-width: 60px;
    float: right;
}
.simplecheckout-cart-total-remove {
    display: inline-block;
    width: 18px;
    text-align: center;
}
.simplecheckout-cart-total-remove img {
    vertical-align: -2px;
    cursor: pointer;
}
.simplecheckout-cart col.image {
    width: 5%;
}
#total_total{
    border-top: 1px solid #ccc;
    padding: 16px 20px;
}
.simplecheckout-cart col.name {

}
.simplecheckout-cart col.model {
    width: 10%;
}
.simplecheckout-cart col.quantity {

}
.simplecheckout-cart col.price {
    width: 10%;
}
.simplecheckout-cart col.total {
    width: 10%;
}
.simplecheckout-cart col.remove {
    width: 7px;
}
.simplecheckout-cart th {
    padding: 8px;
    border-bottom: 0;
    background-color: #fff;
    color: #000;
    font-family: Helvetica;
    font-size: 24px;
}
.simplecheckout-cart th.image {
    width: 1px;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    position: static !important;
}
.simplecheckout-cart th.name {
    text-align: center;
}
.simplecheckout-cart .name {
    font-size: inherit !important;
}
.simplecheckout-cart th.model {
    text-align: center;
}
.simplecheckout-cart th.quantity {
    text-align: center;
}
.simplecheckout-cart .price {
    text-align: right;
    display: table-cell !important;
    font: inherit !important;
    font-weight: bold !important;
}
.simplecheckout-cart .total {
    text-align: right;
    display: table-cell !important;
    font: inherit !important;
    font-weight: bold !important;
}
.simplecheckout-cart .quantity {
    display: table-cell !important;
    float: none !important;
    position: static !important;
}
.simplecheckout-cart th.remove {
    width: 7px;
    text-align: center;
}
.simplecheckout-cart td {
    padding: 7px;
    border-bottom: 1px solid #DDDDDD;
    vertical-align: top;
}
.simplecheckout-cart td.image {
    text-align: center;
    display: table-cell;
    vertical-align: middle !important;
    position: static !important;
}
.simplecheckout-cart td.name {
    text-align: center;
}
.simplecheckout-cart td.name div.image {
    display: none;
}
.simplecheckout-cart td.model {
    text-align: center;
}
.simplecheckout-cart td.quantity {
    min-width:70px;
    vertical-align:top;
    text-align: center;
    white-space: nowrap;
}
.simplecheckout-cart td.quantity input {
    float: none !important;
}
.simplecheckout-cart  td.quantity .input-group {
    margin: auto !important;
}
.simplecheckout-cart  td.quantity .quantity button {
    margin: 0 !important;
}
.simplecheckout-cart td.quantity img {
    display:inline-block;
    border: 0px;
    cursor:pointer;
}
.simplecheckout-cart td.price {
    text-align: right;
    white-space: nowrap;
    display: table-cell !important;
    font: inherit !important;
}
.simplecheckout-cart td.total {
    text-align: right;
    white-space: nowrap;
    display: table-cell !important;
}
.simplecheckout-cart td.remove {
    padding-right: 3px;
    padding-left: 3px;
    width: 7px;
    vertical-align: top;
    text-align: center;
}
.simplecheckout-cart td.remove img {
    max-width: 30px !important;
    cursor: pointer;
}
.simplecheckout-cart td.product-warning {
    color: #FF0000;
    font-weight: bold;
}
.simplecheckout-cart td.right {
    vertical-align: middle;
    text-align: right;
}
.simplecheckout-three-column .simplecheckout-cart col.image,
.simplecheckout-three-column .simplecheckout-cart th.image,
.simplecheckout-three-column .simplecheckout-cart td.image,
.simplecheckout-three-column .simplecheckout-cart col.price,
.simplecheckout-three-column .simplecheckout-cart th.price,
.simplecheckout-three-column .simplecheckout-cart td.price,
.simplecheckout-three-column .simplecheckout-cart col.model,
.simplecheckout-three-column .simplecheckout-cart th.model,
.simplecheckout-three-column .simplecheckout-cart td.model {
    display: none;
}
.simplecheckout-three-column .simplecheckout-cart td.name .image {
    display: block;
}
.simplecheckout-scroll{
    overflow-y:scroll;
    max-height:300px;
}
.simplecheckout-error-text {
    display: block;
    color: #f99;
    position: absolute;
    font-size: 14px;
}
.simplecheckout-warning-text {
    margin: 5px 0;
    font-weight: bold;
}
.simplecheckout-warning-block {
    clear: both;
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    text-align: left;
}
.simpleregister-warning-block {
    margin-bottom: 15px;
    padding: 10px 10px 10px 33px;
    border: 1px solid #F8ACAC;
    border-radius: 5px 5px 5px 5px;
    color: #555555;
    text-align: left;
}
.simplecheckout-proceed-payment {
    display: none;
    margin-bottom: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#simple_payment_address_block {
    margin-top: 15px;
}
.simplecheckout-customer-same-address {
    text-align: left;
    margin: 15px 0px;
}
#simplecheckout_login {
    margin: auto;
    text-align: center;
}
#simplecheckout_payment_form {
    padding: 5px;
}
#simplecheckout_payment_form .checkout-content {
    display: block;
}
#simplecheckout_payment_form div.buttons {
    display: none;
}
#simplecheckout_login .simplecheckout-block-content {
    padding: 5px !important;
}
#simple_login_layer {
    position:absolute;
    top:0;
    left:0;
    z-index:99990;
    display:none;
    width:100%;
    background-color:#000000;
}
#simple_login {
    position:fixed;
    z-index:99991;
    display: none;
    padding:5px;
    width:300px;
    height:250px;
    border:1px solid #FFD9FF;
    -webkit-border-radius:7px 7px 7px 7px;
    -moz-border-radius:7px 7px 7px 7px;
    border-radius:7px 7px 7px 7px;
    background:none repeat scroll 0 0 #FFFFFF;
    -khtml-border-radius:7px 7px 7px 7px;
    top:50%!important;
}
#simple_login:after {
    content:"";
    display:block;
    clear:both;
}
#simple_login_header {
    padding: 0px 0px;
    text-align: right;
}
#simple_login_header img {
    margin: 0 0 0 auto;
}
#simple_login_header{
    font-size: 40px;
}
.you-will-be-registered {
    font-weight: bold;
}
.simplecheckout label, .simpleregister label {
    
}
.simplecheckout label input, .simpleregister label input {

}
#simple_summary {
    display: none;
}
#simplecheckout_step_menu {
    margin-bottom: 10px;
    max-width: 588px;
}
.step-step-2>div{
    display: inline-block;
}
.simple-step {
    display: inline-block;
    padding: 5px 0;
    cursor: pointer;
    text-transform: uppercase;
}
.simple-step-current {
    display: inline-block;
    color: #000;
    font-size: 14px;
    border-bottom: 1px solid #252525;
}
.simple-step-current>div{
    
}
.step-step-1>div,
.step-step-2>div,
.step-step-3>div{
    display: inline-block;
    margin-right: 5px;
}
.step-step-1{
    text-align: left;
}
.step-step-2{
    margin: 0 0 0 119px;
}
.step-step-3{
    padding-left: 3%;
}
.simple-step-delimiter {
    display: inline-block;
    vertical-align: middle;
    line-height: 13px;
    margin: 0px 5px;
}
#simplecheckout_payment_address > .checkout-heading{
    margin: 30px 0px 17px 0;
    border-bottom: 1px solid #d0d0d0;
    padding-bottom: 10px;
    font-size: 24px;
}
#simplecheckout_payment_address .row-payment_address_address_id > .control-label{
    float: left;
    width: 140px;
    padding: 7px 0;
} 
#simplecheckout_payment_address .row-payment_address_address_id div{
    width: 500px;
    display: inline-block;
} 
#simplecheckout_payment_address .row-payment_address_country_id > .control-label{
   
} 
#simplecheckout_payment_address .row-payment_address_country_id div{
    width: 309px;
    display: inline-block;
} 
#simplecheckout_payment_address .row-payment_address_zone_id > .control-label{
    float: left;
    width: 140px;
    padding: 7px 0;
} 
#simplecheckout_payment_address .row-payment_address_zone_id div{
    width: 309px;
    display: inline-block;
} 
.simple-step-completed{
    
}
.simple-step-completed>div{
    display: inline-block;
}
.simple-step-completed a {
    color: #FFFFFF !important;
    text-decoration: none !important;
    font-size: 13px !important;
}
.simplecheckout-summary-info {
    margin-top: 15px !important;
    border-top: 1px solid #d0d0d0;
}
.simplecheckout-summary-info th.name {
    text-align: left;
    padding-top: 21px;
}
.simplecheckout-summary-info td {
    text-align: left;
}
.simplecheckout-cart-buttons .buttons {
    border: none !important;
    padding: 0 !important;
}
#simple_login .simplecheckout-block-content {
    border: none !important;
}
#temp_flat_container {
    text-align: center;
    margin: 10px 0px 20px 0px;
}
#simplecheckout_comment .simplecheckout-block-content {
    border: 0 !important;
    padding: 0 !important;
}
#simplecheckout_comment textarea {
    width: 100% !important;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100px;
}
.simplecheckout-table-form {
    width: 49%;
    margin-right: 1%;
    float: left;
    text-align: left;
}
@media only screen and (max-width:768px) {
    .simplecheckout-table-form {
        width: 100%;
        margin-right: 0%;
        float: none;
    }
}
.simplecheckout-three-column .simplecheckout-table-form,
.simplecheckout-left-column .simplecheckout-table-form,
.simplecheckout-right-column .simplecheckout-table-form {
    width: 100%;
    margin-right: 0%;
    float: none;
}
.simplecheckout-table-form-left {
    width: 50%;
    text-align: left;
    padding: 3px;
    vertical-align: top;
}
.simplecheckout-table-form-right {
    width: 50%;
    text-align: left;
    padding: 3px;
}
.simplecheckout-table-form-right input[type=text],
.simplecheckout-table-form-right input[type=password],
.simplecheckout-table-form-right input[type=email],
.simplecheckout-table-form-right input[type=tel],
.simplecheckout-table-form-right input[type=phone],
.simplecheckout-table-form-right input[type=date],
.simplecheckout-table-form-right input[type=time],
.simplecheckout-table-form-right select,
.simplecheckout-table-form-right textarea {
    width: 100%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0px !important;
}
.simplecheckout-table-form-right label {
    display: block !important;
}
.simplecheckout-table-form-right label input {
    margin: 0px 5px 0px 0px !important;
}
.checkout-heading{
    font-size: 18px;
    padding: 55px 0 24px 0;
    border-top: 1px solid #666;
}
.checkout-heading:after {
    content:"";
    display:block;
    clear:both;
}
.col-sm-12 .checkout-heading {
    background-color: #f5f5f5;
    border-color: #ddd;
    color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    padding: 10px 15px;
}
.checkout-heading span {
    display: inline-block !important;
    float: left;
}
.checkout-heading-button {
    display: inline-block !important;
    margin: 0 0 0 10px
}
.checkout-heading-button a{
    padding: 10px 53px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #000;
    font-size:12px;
}
.checkout-heading-button a:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
#simplecheckout_button_login{
    padding: 12px 35px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #000;
    font-size: 12px;
    border-radius: 0;
    float: right;
}
#simplecheckout_button_login:hover{
    background: #fff;
    color: #000;
    border: 1px solid #000;
}
#simplecheckout_login label{
    font-size: 12px;
    text-transform: uppercase;
    padding: 10px 0;
}
#simplecheckout_login input{
    float: right;
    height: 43px;
    border: 1px solid #666;
}
#simplecheckout_login .form-group{
    height: 43px;
    margin: 0 0 25px 0;
}
#simplecheckout_login .simplecheckout-block-content{
    position: relative;
}
#simplecheckout_login #simple_login_header{
    position: absolute;
    top: -77px;
    right: 0;
}
.simplecheckout-select-address {
    text-align: left;
    margin-bottom: 10px;
}
.simple-captcha-container {
    margin-top: 5px;
}
.simplecheckout-tooltip {
    display: none;
}
#easyTooltip {
    padding:5px;
    border:1px solid #ccc;
    background:#fde910;
    -webkit-border-radius: 5px 5px 5px 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -khtml-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 0px 2px 2px #DDDDDD;
    -moz-box-shadow: 0px 2px 2px #DDDDDD;
    box-shadow: 0px 2px 2px #DDDDDD;
    opacity:1 !important;
}
#easyTooltip:before {
    content:'';
    position:absolute;
    left:10px;
    top:-8px;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 8px solid #fde910;
}
.simplecheckout-cart i {
    cursor: pointer;
}

.simple-content .table-responsive{
    margin-bottom: 0 !important;
    border: none !important;
}

@media only screen and (max-width:640px) {
    .simplecheckout-cart col.image,.simplecheckout-cart th.image,.simplecheckout-cart td.image {
        display: none;
    }
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
    .simplecheckout-cart col.price,.simplecheckout-cart th.price,.simplecheckout-cart td.price {
        display: none;
    }
    .simplecheckout-cart td.name div.image {
        display: block;
    }
    .simplecheckout-cart td.name div.options {
        display: none;
    }
}
@media only screen and (max-width:1000px) {
    .simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart td.model {
        display: none;
    }
}
@media only screen and (max-width:600px) {
    #total_shipping span:first-child {
        max-width: 300px;
        display: inline-block;
    }
    td.quantity button[data-onclick*="Quantity"] {
        display: none;
    }
}
@media only screen and (max-width:420px) {
    #total_shipping span:first-child {
        max-width: 200px;
        display: inline-block;
    }
}
.row-customer_register .radio {
    display: inline-block !important;
    margin-right: 10px;
}